

.arrow {
    position: relative;
    cursor: pointer;
    top: 60%;
    transform: translateY(-50%);
    font-size: 40px;
    color: gray ;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}